body {
  font-family: Arial, Helvetica, sans-serif;
  color: #7c7c7c;
}
ul {
  list-style-type: none;
  left: 50px;
}
.temp-icon {
  position: fixed;
  top: 100px;
  right: 150px;
}

p {
  padding-top: 10px;
}
.sun-icon {
  padding: 40px;
  font-size: 15px;
}
.cloud-icon {
  padding: 40px;
  font-size: 15px;
}

.rain-icon {
  padding: 40px;
  font-size: 15px;
}
.weather-icon {
  padding: 40px;
  font-size: 15px;
}
